.titleCreateTattoo{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

.createTattooBlock{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
    padding-top: 20px;
}

.labelTattoo{
    display: block;
    margin-bottom: 0.25rem;
    font-size: 20px;
    pointer-events: none;
}

.descriptionTattoo{
    width: 80%;
    height: 200px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid gray;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.descriptionTattoo:focus{
    color: #212529;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.selectBlock{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, auto));
    grid-column-gap: 5px;
    justify-content: start;
}
.img{
    width: 600px;
    height: 700px;
    border-radius: 0;
}

.genImgBlock{
    text-align: start;
}

.buttonGenerate{
    background: white;
    height: calc(2.25rem + 2px);
    border-radius: 15px;
    padding: .375em 1.125em;
    font-size: 1rem;
}

.generateBlock{
    text-align: start;
}

.buttonGenerate:hover{
    border: 1px solid #fff;
    box-shadow:0 0 20px #fff;
}

.selectStyle{
    height: calc(2.25rem + 2px);
    padding: 7px 40px 7px 12px;
    width: 300px;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-size: 17px;
    color: black;
}